*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  background-color: #ffc017;
  border-bottom: 1px solid black;
}

.header-container {
  width: 65%;
  min-height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.navbar button {
  background-color: black;
  color: white;
  border: none;
  width: 100px;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.main-box {
  margin: auto;
  min-height: 100vh;
}

.main-title {
  margin: auto;
  background-color: #ffc017;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 430px;
  border-bottom: 1px solid black;
}
.title-content {
  width: 65%;
  margin: auto;
}

.main-title h1 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 106px;
}

.main-title h3 {
  margin-top: 25px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.main-title button {
  margin-top: 30px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
  background-color: black;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
}

.trending {
  width: 65%;
  height: fit-content;
  margin: auto;
  padding-top: 50px;
}

.title-trending {
  display: flex;
  align-items: center;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.trending-box {
  display: flex;
  flex-wrap: wrap;
}

.trending-box .box {
  width: 33.33%;
  height: 200px;
  display: flex;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.box-number {
  width: 12%;
  color: lightgrey;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.box-number p {
  font-size: 32px;
  position: relative;
  top: 15px;
}

.title-box {
  display: flex;
  align-items: center;
}

.title-box img {
  width: 10%;
  border-radius: 50%;
}

.title-box p {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 5px;
}

.content-box {
  height: 40%;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.3em;
  margin-top: 3px;
}

.date-readTime {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16pxs;
  color: rgb(87, 86, 86);
}
