*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  background-color: #ffc017;
  border-bottom: 1px solid black;
  position: sticky;
  z-index: 1000;
  top: 0;
  width: 100%;
}

.header-container {
  width: 65%;
  min-height: 10vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  align-items: center;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.navbar button {
  background-color: black;
  color: white;
  border: none;
  width: 100px;
  border-radius: 20px;
  font-size: 15px;
  padding: 5px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.main-container {
  margin-top: 50px;
  background-color: white;
}

.main-box {
  margin: auto;
}

.main-title {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  background-color: #ffc017;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 430px;
  border-bottom: 1px solid black;
}
.title-content {
  width: 65%;
  margin: auto;
}

.main-title h1 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 106px;
}

.main-title h3 {
  margin-top: 25px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.main-title button {
  margin-top: 30px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: white;
  background-color: black;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
}

.tranding-container {
  width: 100%;
  border-bottom: 1px solid black;
}

.trending {
  width: 65%;
  height: fit-content;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-trending {
  display: flex;
  align-items: center;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.trending-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.trending-box .box {
  width: 33.33%;
  height: 200px;
  display: flex;
}

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.box-number {
  width: 12%;
  color: lightgrey;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.box-number p {
  font-size: 32px;
  position: relative;
  top: 15px;
}

.title-box {
  display: flex;
  align-items: center;
}

.title-box img {
  width: 10%;
  border-radius: 50%;
}

.title-box p {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 5px;
}

.content-box {
  height: 40%;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  margin-top: 3px;
}

.date-readTime {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: rgb(87, 86, 86);
}

/* Parte relativa alle card di sotto + aside */

.bottom-content {
  width: 65%;
  margin: auto;
  display: flex;
}

.left-bottom-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  gap: 30px;
}

.left-content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 10px;
}

.img-content img {
  width: 200px;
}

.author-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.author-card p {
  margin-left: 10px;
  font-weight: 500;
}

.author-card img {
  border-radius: 50%;
}

.content-card h3 {
  font-weight: 500;
  margin-top: 15px;
  font-size: 20px;
}

.content-card p {
  font-weight: 300;
  margin-top: 15px;
  font-size: 15px;
}

.bottom-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-card .left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.left p {
  font-size: 13px;
  color: rgb(121, 121, 121);
  width: 70px;
}

/* Parte relativa all'aside */

.aside-container {
  width: 70%;
  margin-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.aside-container h3 {
  flex-direction: column;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.buttons button {
  background-color: lightgray;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0 1px 1px 0;
  height: 30px;
  overflow: hidden;
}

.aside-ul {
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

.aside-ul ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 15px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(139, 137, 137);
}

@media screen and (max-width: 900px) {
  header {
    background-color: #ffc017;
    border-bottom: 1px solid black;
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
  }

  .header-container {
    width: 90%;
    min-height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
  }

  .navbar button {
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    padding: 5px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
  }

  /* Parte Stay Curious */

  .main-box {
    margin: auto;
    min-height: 100vh;
  }

  .main-title {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    background-color: #ffc017;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 430px;
    border-bottom: 1px solid black;
  }
  .title-content {
    width: 90%;
    margin: auto;
  }

  /* Parte trending */
  .tranding-container {
    width: 100%;
    border-bottom: 1px solid black;
  }

  .trending {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .title-trending {
    display: flex;
    align-items: center;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }

  .trending-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .trending-box .box {
    width: 50%;
    height: 200px;
    display: flex;
  }

  .bottom-content {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  aside {
    order: -1;
    width: 90%;
    margin-bottom: 50px;
  }

  .aside-container {
    width: 100%;
  }
}
